<h1> Set Destination </h1>

<form method = "post" action= "/destinations">
  <input type ="text" name="destination[origins]" placeholder="Enter Current Location"></br>
  <input type ="text" name="destination[destinations]" placeholder="Enter Desired Destination"></br>

  <button>Add Destination!</button>

</form>